::ng-deep{
  .mat-tooltip{
    font-size: 13px;
  }
}
.translate__block {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  justify-items: center;
  align-items: center;
}

.functional__bnt_block {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .mat-swap-language {
    color: #8295f5;
  }
}

.translated__words {
  min-height: 90px;

  .card {
    background: #5c75f1;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    h3 {
      margin: 0 10px 0;
      width: 100%;
      text-align: left;
      cursor: pointer;
    }

    .functional__btn {
      cursor: pointer;
      display: flex;
      gap: 1em;
    }
  }
}

mat-chip {
  cursor: pointer;
}

