<section class="main__section">
  <app-top-nav></app-top-nav>
  <form [formGroup]="translateWordForm" #form="ngForm">
    <div class="translate__block">
      <div>
        <h3 class="title">Translate from</h3>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Translate from</mat-label>
            <mat-select formControlName="languageFrom">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let language of languages" [value]="language">{{language.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="translateWordForm.get('languageFrom')?.hasError('required')">
              Language to translate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Word</mat-label>
            <textarea matInput placeholder="Word" formControlName="word"></textarea>
            <mat-error *ngIf="translateWordForm.get('word')?.hasError('required')">
              Word is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="translateWordForm.get('word')?.hasError('minLenght')">
              Word min length is <strong>1</strong>
            </mat-error>
            <mat-error *ngIf="translateWordForm.get('word')?.hasError('maxLenght')">
              Word max length is <strong>500</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="functional__bnt_block">
        <button mat-stroked-button color="swap-language" class="swap__languages" (click)="swapLanguage($event)">
          <mat-icon>repeat</mat-icon>
        </button>
        <button mat-stroked-button color="primary" [disabled]="form.invalid" type="submit" (click)="translate()">Translate</button>
      </div>
      <div>
        <h3 class="title">Translate To</h3>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Translate to</mat-label>
            <mat-select formControlName="languageTo">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let language of languages" [value]="language">{{language.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="translateWordForm.get('languageTo')?.hasError('required')">
              Language to translate is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="translated__words">
          <ng-container *ngIf="translatedWords !== undefined">
            <div class="card" [title]="translatedWord.description" *ngFor="let translatedWord of translatedWords; let index = index">
              <h3>{{translatedWord.name}}</h3>
              <div class="functional__btn">
                <app-play-button [size]="'s'" [url]="translatedWord.pronunciation"></app-play-button>
                <mat-icon [cdkCopyToClipboard]="translatedWord.name" (click)="copyToClipboard(translatedWord.name)">file_copy</mat-icon>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="translatedWordNotFound">
            <h3>{{translatedWordNotFound}}</h3>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</section>
