::ng-deep {

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #8295f5;
  }
}

.active {
  background-color: #8295f5;

  a {
    color: #fff !important;
  }
}

.profile__section {
  display: grid;
  grid-template-columns: 230px 1fr;

  .profile__left_side {
    height: 100vh;
    border-right: 1px solid #d0dfd3;
    position: sticky;
    top: 0;

    li {
      font-family: 'Bitter', serif;
      font-weight: 600;

      a,
      span {
        cursor: pointer;
        padding: 0.7em;
        display: flex;
        text-transform: none;
        text-decoration: none;
        align-items: center;
        color: black;

        mat-icon {
          font-size: 20px;
        }
      }
    }
  }

  .profile__right_side {
    .content {
      padding: 15px;
      max-height: 100%;
      position: relative;
      height: calc(100% - 82px);
    }
  }
}
