<section class="profile__section">
  <ul class="profile__left_side">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/profile/user-info"> <mat-icon>person</mat-icon> Profile</a>
    </li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/profile/languages"> <mat-icon>spellcheck</mat-icon> All languages</a>
    </li>
    <li routerLinkActive="active" *ngIf="userPrivileges?.isAdmin || userPrivileges?.isModerator">
      <a routerLink="/profile/create-language"><mat-icon>language</mat-icon> Create language</a>
    </li>
  </ul>
  <div class="profile__right_side">
    <ul class="profile__top_nav">
      <li>
        <a routerLink=""><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
      </li>
    </ul>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
