<section class="profile__section">
  <ul class="profile__left_side">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/profile/user-info"> <mat-icon>person</mat-icon> Profile</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/profile/languages"> <mat-icon>spellcheck</mat-icon> All languages</a>
    </li>
    <li routerLinkActive="active" *ngIf="userPrivileges?.isAdmin || userPrivileges?.isModerator">
      <a routerLink="/profile/create-language"><mat-icon>language</mat-icon> Create language</a>
    </li>
    <li routerLinkActive="active" *ngIf="isAllowAllRoles">
      <a routerLink="/profile/create-word">	<mat-icon>add_box</mat-icon> Create word</a>
    </li>
  </ul>
  <div class="profile__right_side">
    <app-top-nav></app-top-nav>
    <div class="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
