.languages__table{
    width: 100%;

    .country__column{
        width: 75px;
    }

    .action__column{
        width: 75px;
    }
}

.languages__btn{
    display: grid;
    grid-template-columns: 1fr 80px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    .title{
        align-self: center;
        margin: 0;
    }
}

.cdk-column-addToPreferred{
    text-align: center;

    mat-icon{
        color: rgb(0 0 0 / 37%);
        transition: .3s ease-in-out;

        &:hover{
            color: #ffd740;
        }
    }

    .preferred{
        color: #ffd740;
    }
}