.language__section{

    .create__language{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }
    .country__flags_list{
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        gap: 10px;
        margin-top: 10px;

        .selected{
            background: chartreuse;
        }

        li{
            align-self: center;
            justify-self: center;
            border: 1px solid #dce5ed;
            border-radius: 4px;
            padding: 5px;
            cursor: pointer;
        
            span{
                line-height: 1em;
                width: 30px;
                height: 30px;
            }
            
        }
    }
}