.login__section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login__form {
    display: grid;
    padding: 2em;
    border-radius: 4px;
    width: 290px;
    border: 1px solid rgb(141 152 231 / 25%);

    .title {
      font-family: 'Bitter';
      font-weight: 600;
      text-align: center;
    }

    .mat-form-field:not(:first-child) {
      margin-top: 5px;
    }

    .form__button {
      justify-self: center;
    }

    .account__not_found{
      margin-top: 15px;
      font-size: 12px;
      text-align: center;

      .register__now{
        color: #6185d7;
        font-weight: 600;
        letter-spacing: .5px;
      }
    }
  }
}
