.create__word_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    .word__field{
        width: 100%;
    }

    .language__field_block{
        text-align: center;
    }

    .add__language_btn{
        position: fixed;
        right: 25px;
        bottom: 25px;
        background-color: #8295f5;
        z-index: 1;
    }

    .translate__block{
        border: 1px solid rgb(187 187 187 / 46%);
        padding: 1em;
        border-radius: 4px;
        
        &:not(:last-child){
            margin-bottom: 1em;
        }
    }
}