<section class="create__word_section">
  <h3 class="title">Create Word</h3>
  <form *ngIf="languages !== undefined" [formGroup]="createWordForm" #form="ngForm" (ngSubmit)="form.valid && create()">
    <div class="create__word_form">
      <div formGroupName="languageFrom">
        <div class="language__field_block">
          <h3><span class="flag-icon flag-icon-{{createWordForm?.value?.languageFrom?.language?.code}}"></span>
            {{createWordForm?.value?.languageFrom?.language?.name}}
          </h3>
          <mat-form-field appearance="outline">
            <mat-label>From Language</mat-label>
            <mat-select formControlName="language" (selectionChange)="selectLanguageFrom($event)">
              <mat-option *ngFor="let language of languagesFrom" [value]="language">{{language.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="createWordForm.get('languageFrom.code')?.hasError('required')">
              Language is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <div formArrayName="words">
            <div [class.word__remove_block]="i >= 1" *ngFor="let word of languagesFromControls.controls; let i = index"
              [formGroupName]="i">
              <mat-form-field class="word__field" appearance="outline">
                <mat-label>Word</mat-label>
                <textarea formControlName="word" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                <mat-error *ngIf="word.get('word')?.hasError('required')">
                  Word is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="word.get('word')?.hasError('minlength')">
                  Word min lengths is <strong>1</strong>
                </mat-error>
                <mat-error *ngIf="word.get('word')?.hasError('maxlength')">
                  Word max lengths is <strong>500</strong>
                </mat-error>
              </mat-form-field>
              <button *ngIf="i >= 1" title="Remove word" mat-stroked-button (click)="removeWord(i)">
                <mat-icon class="delete__btn">close</mat-icon>
              </button>
              <mat-form-field class="description" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" #message matInput cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  maxlength="500">
                </textarea>
                <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
              </mat-form-field>
            </div>
            <div class="add__button_block">
              <button mat-stroked-button (click)="addWord($event)" color="add-word">Add word</button>
            </div>
          </div>
        </div>
        <button mat-stroked-button color="primary" type="submit">Create</button>
      </div>
      <div formArrayName="languagesTo">
        <button (click)="addNewLanguage($event)" mat-mini-fab color="primary" aria-label="Add language button"
          class="add__language_btn" [disabled]="currentAddLanguagesLength >= languages.length-1">
          <mat-icon>add</mat-icon>
        </button>
        <div class="translate__block" *ngFor="let languageTo of languagesToControls.controls; let i = index"
          [formGroupName]="i">
          <button *ngIf="i >= 1" (click)="removeLanguageBlock(i)" class="remove__language_btn"><mat-icon>clear</mat-icon></button>
          <div class="language__field_block">
            <h3>
              <span *ngIf="languageTo?.value?.language">
                <span class="flag-icon flag-icon-{{languageTo?.value?.language?.code}}"></span>
                {{languageTo?.value?.language?.name}}
              </span>
              <span *ngIf="!languageTo?.value?.language?.name">
                Choose Language
              </span>
            </h3>
            <mat-form-field appearance="outline">
              <mat-label>Language</mat-label>
              <mat-select formControlName="language" (selectionChange)="selectLanguageTo($event, i)">
                <mat-option *ngFor="let language of createWordForm.get('languagesTo.'+i+'.languages')?.value"
                  [value]="language">{{language.name}}</mat-option>
              </mat-select>
              <pre></pre>
              <mat-error *ngIf="languageTo.get('language')?.valid">
                Language is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div formArrayName="words">
            <div [class.word__remove_block]="j >= 1" [formGroupName]="j"
              *ngFor="let word of getWordsToControl(i).controls let j = index">
              <div class="word__record">
                <mat-form-field class="word__field" appearance="outline">
                  <mat-label>Word</mat-label>
                  <textarea formControlName="word" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" maxlength=""></textarea>
                  <mat-error *ngIf="languageTo.get('words.'+j+'.word')?.hasError('required')">
                    Word is <strong>required</strong>
                  </mat-error>
                  <mat-error *ngIf="languageTo.get('words.'+j+'.word')?.hasError('minlength')">
                    Word min lengths is <strong>1</strong>
                  </mat-error>
                  <mat-error *ngIf="languageTo.get('words.'+j+'.word')?.hasError('maxlength')">
                    Word max lengths is <strong>500</strong>
                  </mat-error>
                </mat-form-field>
                <div class="record__block">
                  <button class="record__btn start__record_btn" (click)="startRecord($event, i, j)" *ngIf="!languageTo.get('words.'+j+'.isRecording')?.value">
                    <mat-icon>record_voice_over</mat-icon>
                  </button>
                  <button class="record__btn stop__record_btn" (click)="stopRecord($event, i, j)" *ngIf="languageTo.get('words.'+j+'.isRecording')?.value">
                    <mat-icon>stop</mat-icon>
                  </button>
                  <button *ngIf="j >= 1" title="Remove word" mat-stroked-button
                    (click)="removeWordFromTranslatedLanguage(i, j)">
                    <mat-icon class="delete__btn">close</mat-icon>
                  </button>
                </div>
              </div>
              <div>
                <audio controls="" *ngIf="languageTo.get('words.'+j+'.audio')?.value">
                  <source [src]="sanitize(languageTo.get('words.'+j+'.audio')?.value)" type="audio/wav">
              </audio>
              </div>
              <mat-form-field class="description" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea formControlName="description" #message matInput cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                  maxlength="500">
                </textarea>
                <mat-hint align="end">{{message.value.length}} / 500</mat-hint>
                <mat-error *ngIf="languageTo.get('words.'+j+'.description')?.hasError('minlength')">
                  Description min lengths is <strong>3</strong>
                </mat-error>
                <mat-error *ngIf="languageTo.get('words.'+j+'.description')?.hasError('maxlength')">
                  Description max lengths is <strong>500</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="add__button_block">
              <button mat-stroked-button (click)="addWordToTranslatedLanguage($event, i)" color="add-word">Add word</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
