<section>
    <div class="user__info">
        <div class="info">
            <div class="avatar__block">
                <img src="../../../../../assets/img/user.png" alt="">
            </div>
            <div class="name">
                <h2>{{user?.firstName}} {{user?.lastName}}</h2>
                <h4>{{user?.email}}</h4>
            </div>
            <div class="created__elements">
                <div class="created__element">
                    <h5 class="label">Created words</h5>
                    <a href="">{{user?.totalCreatedWords}}</a>
                </div>
                <div routerLink="/profile/languages" [queryParams]="{user: true}" class="created__element">
                    <h5 class="label">Created languages</h5>
                    <span>{{user?.totalCreatedLanguages}}</span>
                </div>
            </div>
        </div>
    </div>
</section>